html, body {
    overflow: hidden;
    margin: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

svg {
    max-height: 100vh;
}

path, circle {
    transition: transform 300ms;
}

.enter { animation: fade-in 150ms;  }
.leave { animation: fade-out 150ms; }

@keyframes fade-in {
    from { opacity: 0.01; }
    to   { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0.01; }
}
